.env
.coverage*
.pytest_cache/
myshop/secret.py

# Other
venv/
*.sqlite3
*.db
*.mo
.cache/
media/
*.log
*.log.*
.idea

shop/migrations/__pycache__/
payment/migrations/__pycache__/
cart/migrations/__pycache__/
orders/migrations/__pycache__/
coupons/migrations/__pycache__/
shop/static/.DS_Store
shop/__pycache__/
payment/__pycache__/
myshop/__pycache__/
coupons/__pycache__/
cart/__pycache__/
orders/__pycache__
